
<div class="booyah-box col-10 offset-1">
  <h1><%= @item.title %></h1>
  <i><%= @item.price %></i>
  <br/><br/>
  <p><%= @item.description %></p>

  <div class="float-right">

  
    
  </div>
</div>